page-about {

.toolbar-background-md {
    background-image: url('../assets/img/tulipa-corpo.png');
    background-attachment: fixed;
    xbackground-size: contain;
    background-position: top center;
}
.toolbar-background-wp{
    background-image: url('../assets/img/tulipa-corpo.png');
    background-attachment: fixed;
    xbackground-size: contain;
    background-position: top center;
}
.toolbar-background-ios{
    background-image: url('../assets/img/tulipa-corpo.png');
    background-attachment: fixed;
    xbackground-size: contain;
    background-position: top center;
}

}
