page-home {

.toolbar-background-md {
    background-image: url('../../assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;
}
.toolbar-background-wp{
    background-image: url('../../assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;
}
.toolbar-background-ios{
    background-image: url('../../assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;
}

}
