page-home {

.teste{
    background: url(/assets/img/tulipa-navbar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.toolbar-background-md {
    background-image: url('/assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;

}
.toolbar-background-wp{
    background-image: url('../../assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;
}
.toolbar-background-ios{
    background-image: url('../../assets/img/tulipa-navbar.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: top center;
}

}
